<html>

<body>
    <p> </p>

    <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
        id="m_-6412192353901412415backgroundTable" style="background-color:#ffffff">
        <tbody>
            <tr>
                <td align="center" valign="top" style="padding-top:20px">
                    <table border="0" cellpadding="0" cellspacing="0" width="600"
                        id="m_-6412192353901412415templateContainer">
                        <tbody>
                            <tr>
                                <td align="center" valign="top">

                                    <table border="0" cellpadding="0" cellspacing="0" width="100%"
                                        id="m_-6412192353901412415templateHeader">
                                        <tbody>
                                            <tr style="background-color:#051428;padding:0px">
                                                <td class="m_-6412192353901412415headerContent">


                                                    <img src="http://sharectv.com/img/icon.PNG" style="max-width:200px"
                                                        id="m_-6412192353901412415headerImage campaign-icon"
                                                        class="CToWUd">
                                                </td>
                                                <td style="color:white;font-size:21px">

                                                    <!-- <strong>Mã verify  <%=codeVerify%></strong> -->
                                                    <br>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top">

                                    <table border="0" cellpadding="0" cellspacing="0" width="600"
                                        id="m_-6412192353901412415templateBody" style="background-color:#eeeeee">
                                        <tbody>
                                            <tr>
                                                <td valign="top">


                                                    <table border="0" cellpadding="20" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td valign="top"
                                                                    class="m_-6412192353901412415bodyContent">
                                                                    <div>
                                                                        Xin chào bạn <strong> <a href='<%=mail%>'
                                                                                target="_blank"> <%=mail%></a>
                                                                        </strong><br>
                                                                        <strong>Chúng tôi </strong> xin gửi đến bạn
                                                                        thông tin giao dịch bạn vừa thực hiện<br>

                                                                        <div class="m_-6412192353901412415session_box"
                                                                            style="background-color:#ffffff;border-style:solid;border-color:#e0e0e0;padding:10px;border-width:1px;margin-top:20px">
                                                                            <strong>THÔNG TIN GIAO DỊCH</strong>
                                                                            <table style="width:100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td>Mã giao dịch</td>
                                                                                        <td> <b><%=codeVerify%></b></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Thời gian thực hiện</td>
                                                                                        <td> <%=time%></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Số tiền thanh toán</td>
                                                                                        <td> <%=amount%></td>
                                                                                    </tr>

                                                                                    <tr>
                                                                                        <td>Đồng tiền thanh toán</td>
                                                                                        <td> <%=deposit%></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Hình thức thanh toán</td>
                                                                                        <td> <%=typeTransaction%></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Người nhận tiền</td>
                                                                                        <td> <%=recieveAccount%></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Nội dung thanh toán</td>
                                                                                        <td> <%=message%></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Trạng thái giao dịch</td>
                                                                                        <td><b>CHỜ THỰC HIỆN</b></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <br>
                                                                    </div>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td>
                                                                    <u></u>
                                                                    <div>
                                                                    </div>
                                                                    <br>

                                                                    <div class="m_-6412192353901412415support_session">
                                                                        <table width="100%" border="0" cellspacing="0"
                                                                            cellpadding="0"
                                                                            background="https://ci3.googleusercontent.com/proxy/0H_TuCLVgPeqf47NCrfL9aekwXenk1K7YXCVU9bKSq_pKXmioDMv9EoehXo9Mnkz1yuO0f7KMCP86N-7zUVwDR9Kvss=s0-d-e1-ft#https://whypay.vn/assets/images/email/mailbox.jpg"
                                                                            style="background-repeat:no-repeat">

                                                                            <tbody>
                                                                                <tr>
                                                                                    <td colspan="5"
                                                                                        style="line-height:0;height:20px;font-size:0;padding:0">
                                                                                    </td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="15" style="padding:0">
                                                                                        &nbsp;</td>
                                                                                    <td width="170" style="padding:0">
                                                                                        <table cellpadding="0"
                                                                                            cellspacing="0" border="0"
                                                                                            width="100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td rowspan="2"
                                                                                                        style="padding:0 5px 0 0"
                                                                                                        align="right">
                                                                                                        <img src="https://ci6.googleusercontent.com/proxy/sWy3TDirbbPltB7dfUbIQLz6nmG7_1N5xSHfVViFJF3quMkNH3mvQkAgOwOnQoBFkVyNdF0ycxZrvwVD1-FRPxk8=s0-d-e1-ft#https://whypay.vn/assets/images/email/phone.gif"
                                                                                                            width="18"
                                                                                                            height="19"
                                                                                                            alt="call"
                                                                                                            class="CToWUd">
                                                                                                    </td>
                                                                                                    <td>Hotline hỗ trợ
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="left">
                                                                                                        0973416672</td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td width="30" style="padding:0">
                                                                                        &nbsp;</td>
                                                                                    <td width="210" style="padding:0">
                                                                                        <table cellpadding="0"
                                                                                            cellspacing="0" border="0"
                                                                                            width="100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td rowspan="2"
                                                                                                        style="padding:0 5px 0 0"
                                                                                                        align="right">
                                                                                                        <img src="https://ci4.googleusercontent.com/proxy/medIf5-GqxFYYKu7VIvA9FjVOb7fvjh1IZMLDVhlr8LDK3QPbWdY8iibG3v6SAxdR9nLk1y3pOT5llqlOn802l0=s0-d-e1-ft#https://whypay.vn/assets/images/email/mail.gif"
                                                                                                            width="24"
                                                                                                            height="16"
                                                                                                            alt="mail"
                                                                                                            class="CToWUd">
                                                                                                    </td>
                                                                                                    <td>Email hỗ trợ
                                                                                                    </td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td><a>sharectv.service.gmail.com</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td width="150" style="padding:0">
                                                                                        <table cellpadding="0"
                                                                                            cellspacing="0" border="0"
                                                                                            width="100%">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td rowspan="2"
                                                                                                        style="padding:0 5px 0 0"
                                                                                                        align="right">
                                                                                                        <img src="https://ci4.googleusercontent.com/proxy/aJbIX4GwWvy908jkr0aYYArEejxg5Hj8dkyQveiA5VBVImoJ4ml0H5ypNcbz5wAZKLZpEQL5tfpplgIl8RGuKKw=s0-d-e1-ft#https://whypay.vn/assets/images/email/chat.gif"
                                                                                                            width="26"
                                                                                                            height="22"
                                                                                                            alt="call"
                                                                                                            class="CToWUd">
                                                                                                    </td>
                                                                                                    <td>Facebook</td>
                                                                                                </tr>
                                                                                                <tr>
                                                                                                    <td align="left">
                                                                                                        <a href="https://www.facebook.com/pham.c.hai"
                                                                                                            style="text-decoration:none"
                                                                                                            target="_blank">admin</a>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                    <td width="15" style="padding:0">
                                                                                        &nbsp;</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td colspan="5"
                                                                                        style="padding:0;line-height:0;height:23px">
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>
                                                                </td>
                                                            </tr>

                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>

                            </tr>
                        </tbody>
                    </table>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>